<div class="rulesPanel panel">
	<div class="ruleBlock basicRules">
		<div class="ruleTopic">Basic Rules</div>
		<div class="ruleDetail">
			<li>There's a spy in your group, they do NOT know the location you are in.</li>
			<li>Ask questions of fellow players to determine who the spy is</li>
			<li>Try to provide the other non-spies hints that you know the location, without giving away the location</li>
			<li>Remember each non-spy has a different role, so your question may not make sense to someone on your team</li>
		</div>
	</div>

	<div class="ruleBlock leaderRules">
		<div class="ruleTopic">Game Flow Rules</div>
		<div class="ruleDetail">
			<li>Randomly determine the first player. They choose another player and asks a question.</li>
			<li>No followup questions are immediately allowed. </li>
			<li>The player who is answered the question, gets to ask the next question.</li>
			<li>They can ask any player, except for the last person to ask a question.</li>
			<li>Play continues until the timer runs out, everyone accuses one person of being a spy, or the spy figures out the location.</li>
		</div>
	</div>

	<div class="ruleBlock endRoundRules">
		<div class="ruleTopic">End of Round</div>
		<div class="ruleDetail">
			<li>Rounds can end in a multiple of ways:</li>
			<li>8 minute timer elapses (or whatever time that's chosen by the group)</li>
			<li>The spy stops the game to guess the location (positive or negative)</li>
			<li>A player accuse a single player of being a spy and all other players agree</li>
			<li>Start Timer - Whoever has access starts the timer in the app. (Skip if it's the last round)</li>
			<li>Players return to their room as the next round as started</li>
		</div>
	</div>

	<div class="ruleBlock endGameRules">
		<div class="ruleTopic">Scoring Rules</div>
		<div class="ruleDetail">
			<li>The game ends after the last round</li>
			<li>Tally up all the points each player has gaine throughout and whoever was the highest total wins!</li>
			<li>Break ties by playing more SPYFALL!</li>
		</div>
	</div>

	<div class="ruleBlock">
		<div class="ruleTopic">Locations</div>
		<div class="ruleDetail">
			<li></li>
		</div>
	</div>


</div>