{% extends "base.html" %}

{% load queryFilters %}
{% load basicFilters %}
{% load basicTags %}

{% block body_id %}Play Session{% endblock %}

{% block title %}Play{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/tworooms.css{% if ZC_VERSION %}?v={{ ZC_VERSION }}{% endif %}" />
{% endblock %}

{% block jsModuleName %}tworoomsController{% endblock %}

{% block scripts %}
	<script>
		var local = {{ player.id }};
	</script>
{% endblock %}

{% block content %}
	<h1>It's game time hoooooo!!!11</h1>

	<div class="roundPanel panel active">
		Round #<span class="currentRound">0</span>
		Time Remaining: <span class="timeRemaining {% if player.host %}hostTimer{% endif %}">-1</span> seconds
	</div>
	
	<div class="rolePanel panel">
		Starting Room: #{{ player.room }} <br/>
		Your Affiliation is: {{ affiliation }} <br/>
		Your Role is: {{ role.name }} <br/>
		Rules text: {{ role.text }}
	</div>

	<div class="colorPanel panel">
		Your Affiliation is: {{ affiliation }} <br/>
	</div>

	<div class="cardPanel panel">
		Your Affiliation is: {{ affiliation }} <br/>
		Your Role is: {{ role.name }} <br/>
		Rules text: {{ role.text }}
	</div>
	
	{% include "twoRooms/reference.html" %}
{% endblock %}


{% block panelControl %}
	<div class="control">
	{% if player.host %}
		<button class="startRound">Start Timer</button>
	{% endif %}
		<button class="displayTimer">Countdown</button>
	{% if session.roles.count > 9 %}
		<button class="colorReveal">Color Reveal</button>
	{% endif %}
		<button class="cardReveal">Card Reveal</button>


	</div>

{% endblock %}

{% block dataBlock %}
	{% clientMultiData  affiliation role games=game session=gameSession player=player %}

{% endblock %}