{% extends "base.html" %}

{% load queryFilters %}
{% load basicFilters %}
{% load basicTags %}

{% block body_id %}Play Session{% endblock %}

{% block title %}Play{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/tworooms.css{% if ZC_VERSION %}?v={{ ZC_VERSION }}{% endif %}" />
{% endblock %}

{% block jsModuleName %}tworoomsController{% endblock %}

{% block scripts %}
	<script>
		var roundStart = Date.parse("{{ roundStart }}");
		var roundTime = {{ roundTime }};
		var local = {{ player.id }};
		var hostages = "{{ byRound }}".split(",");
	</script>
{% endblock %}

{% block pageTitle %}{{ gameSession.name }}{% endblock %}

{% block content %}
	<div class="roundPanel panel active">
		<div class="roundLabel">
			Round #<span class="currentRound">{{ gameSession.currentRound }}</span>
		</div>
		<div class="hostageLabel">
			Hostages: <span class="hostages"></span>
		</div>
		<div class="timeLabel">
			<span class="timeRemaining {% if player.host %}hostTimer{% endif %}">Calculating..</span>
		</div>
		
		{% if player.host %}
			<button class="startRound">Start Timer</button>
		{% endif %}
	</div>
	
	<div class="myPanel panel">
		Starting Room: #{{ player.room }} <br/>
		Your Affiliation is: {{ affiliation }} <br/>
		Your Role is: {{ role.name }} <br/>
		Rules text: {{ role.text }}
	</div>

	<div class="playerPanel panel">
		<div class="panelGroup">
			<div class="subpanel">
				Player (<span class="playerCount">{{ players.count }}</span>)
			{% for pl in players %} 
				<li class="player" data-id="{{pl.id}}">
					<img src="/static/img/user.png" class="waiting playerIcon" />{{ pl.name }} 
					(Initial Room => {{ pl.room }})
				</li>
			{% endfor %}
			</div>
		</div>
	</div>

	<div class="rolePanel panel">
		<div class="panelGroup">
			<div class="subpanel activeRoles">
				Chosen Roles  (<span class="roleCount">{{ roles.count }}</span>)
			{% for role in roles %}
				<li class="role" data-id="{{role.id}}">
					{{ role.name }}
				</li>
			{% endfor %}
				
			</div>
		</div>
	</div>

	<div class="colorPanel panel">
		<div class="card {{ affiliation.styling }}">
			<div class="role"></div>
			<div class="avatar"></div>
			<div class="rules"></div>
			<div class="affiliation">{{ affiliation }}</div>
		</div>
	</div>

	<div class="cardPanel panel">
		<div class="card {{ affiliation.styling }}">
			<div class="role">{{ role.name }}</div>
			<div class="avatar"></div>
			<div class="rules">{{ role.text }}</div>
			<div class="affiliation">{{ affiliation }} <img class="affiliationIcon" src="{{ affiliation.icon.url }}" /></div>
		</div>
	</div>

	<div class="endPanel panel">
		The game has ended! Now before everyone reveals their role, make sure anyone with an end game power handles it in turn. <br/>
		After each player resolves their end game power, everyone should <button class="cardReveal">Reveal your Role</button>
	</div>

	<audio preload="auto" class="alarm">
		<source src="{{ STATIC_URL }}media/siren.mp3" />
	</audio> 

	{% include refTemplate %}
{% endblock %}


{% block menuItems %}
<li class="menuItem" data-panel="roundPanel">Game Info</li>
<li class="menuItem" data-panel="myPanel">My Info</li>
<li class="menuItem" data-panel="playerPanel">Players</li>
<li class="menuItem" data-panel="rolePanel">Roles</li>
{% if session.roles.count > 9 %}
<li class="menuItem" data-panel="colorPanel">Color Reveal</li>
{% endif %}
<li class="menuItem" data-panel="cardPanel">Card Reveal</li>
<li class="menuItem" data-panel="rulesPanel">Reference</li>
{% endblock %}

{% block dataBlock %}
	{% clientMultiData roles %}

	{% clientDataObj  affiliation %}
	{% clientDataObj  role %}
	{% clientDataObj  game %}
	{% clientDataObj  gameSession %}
	{% clientDataObj  player %}
{% endblock %}