	<div class="rulesPanel panel">
		Basic Rules:
		<li>Stay in your Room.
		<li>No communication between Rooms (including Sign Language Jennifer)</li>
		<li>Keep your card. No swapping unless a power tells you to.</li>
		<li>Must show entire card with less than 10 Players</li>

		Leader Rules:
		<li>The leader of the room is public information.</li>
		<li>Leader selects hostages to be traded between rooms at the end of each round</li>
		<li>First leader needs to appointed by another player. Cannot appoint yourself</li>
		<li>To do this point at someone and say, "I appoint you leader"</li>
		<li>Changing leaders - Room leader can change in two ways. Either by abdication nor usurption </li>
		<li>Leader abdicates and chooses a willing replacement. An abicated leader can't be given leadership in this manner the same round he abdicated</li>
		<li>Usurp leader - Any player may raise one hand up in the air, and point to who you want as a leader. If a majority of the room point to the same player, that players becomes the new leader. Note: You may point to yourself.</li>

		End of Round
		<li>Leader informs room of who will be the hostages for the round. Can't choose self.</li>
		<li>(Reference the hostage chart to see how many hostages need to be selected for each round)</li>
		<li>Both leaders parley in between the two rooms WITHOUT hostages</li>
		<li>Exchange hostages, call hostages to join leaders in between rooms</li>
		<li>Start Timer - Whoever has access starts the timer in the app. (Skip if it's the last round)</li>
		<li>Players return to their room as the next round as started</li>

		Glossary
		<li>Backup - Character that assumes powers of another character, if that character is not in play.</li>
		<li>Buried - A card out of play. </li>
		<li>Cleansed - Lose all conditions. Characters are cleansed to begin games, and when roles are swapped.</li>
		<li>Condition - An affliction that may effect gameplay.</li>
		<li>Hostage - Player(s) that the Leader chooses to change rooms after each round. </li>
		<li>Leader - Nominated player of a room who chooses hostages after each round.</li>
		<li>Reveal - Player shows their card to other players, without expecting a reveal back</li>
		<li>Private - Just one player</li>
		<li>Public - Show to multiple players</li>
		<li>Card - Show your entire card</li>
		<li>Color - Show just your color</li>
		<li>Share - Two players show each other their card. </li>
		<li>Card - Temporarily exchange cards to learn the information</li>
		<li>Color - Show just your color (10+ Players only)</li>
		<li>Swap - Exchange character cards with another player (through a Power)</li>
	</div>