.playerIcon {
	width: 32px;
	height: 32px;
	position: relative;
	top: 5px;
}

.waiting {
	opacity: .2;
}

.inactiveRoles .removeRole {
	display: none;
}

.activeRoles .addRole {
	display: none;
}

.rolePanel {
	display: flex;
	list-style: none;
}

.subpanel {
	width: 50%;
}

.role {
	flex-flow: column;
}

ul, li {
	padding: 0px;
	list-style: none;
}