header {
	height: 30px
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}

.menu {
	text-decoration: none;
	color: orange;
	right: 5px;
}

.logo{
	left: 5px;
}

.pageTitle {
	flex: 1;
	text-align: center;
}

body{
	clear: both;
}