{% extends "base.html" %}

{% load queryFilters %}
{% load basicFilters %}
{% load basicTags %}

{% block body_id %}Game Lobby{% endblock %}

{% block title %}Lobby{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/lobby.css{% if ZC_VERSION %}?v={{ ZC_VERSION }}{% endif %}" />
{% endblock %}

{% block jsModuleName %}lobbyController{% endblock %}

{% block scripts %}
	<script>
		var local = {{ player.id }};
		var inviteURL = "{{ inviteURL }}";
	</script>
{% endblock %}

{% block content %}
	<h1 class="pageTitle">Game Session Lobby</h1>
	
	Made it to the lobby!!!11

	<div class="selfPanel panel">
		Name: <input type="text" class="playerName" /><br/>
		Pin: <input type="text" class="playerPin" /><br/>
		Host: <input type="checkbox" class="playerHost" disabled /><br/>
		<button class="editPlayer">Save</button>
	</div>

	<hr/>

	<div class="invitePanel panel">
		Have other players scan this QR code to join the game.
		<div class="qrCode" id="inviteQR">
		</div>
	</div>

	<hr/>
	<div class="playerPanel panel">
	Player (<span class="playerCount">{{ players.count }}</span>)
	{% for pl in players %} 
		<div class="player" data-id="{{pl.id}}">
			<img src="/static/img/user.png" class="{% if player == pl %}active{% else %}waiting{% endif %} playerIcon" />{{ pl.name }} 
		</div>
	{% endfor %}
	</div>

	
	<hr/>
	<div class="rolePanel panel">
		Roles (<span class="roleCount">{{ roles.count }}</span>)
	{% for role in roles %}
		<div class="role" data-id="{{role.id}}">
		{% if player.host %}
			<button class="removeRole" disabled>-</button>
		{% endif %}
			{{ role.name }}
		{% if player.host %}
			<button class="addRole" disabled>+</button>
		{% endif %}
		</div>
	{% endfor %}
	</div>
	
	{% if player.host %}
	<hr/>
	<div class="startPanel panel">
		<button class="startSession">Assign Player Roles</button>
	</div>
	{% endif %}
{% endblock %}

{% block dataBlock %}
	{% clientMultiData games gameSessions players affiliations roles %}

{% endblock %}