{% extends "base.html" %}

{% load queryFilters %}
{% load basicFilters %}
{% load basicTags %}

{% block body_id %}Game Lobby{% endblock %}

{% block title %}Lobby{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/start.css{% if ZC_VERSION %}?v={{ ZC_VERSION }}{% endif %}" />
{% endblock %}

{% block jsModuleName %}lobbyController{% endblock %}

{% block scripts %}
	<script>
		var local = {{ player.id }};
		var inviteURL = "{{ inviteURL }}";
	</script>
{% endblock %}

{% block content %}
	<h1 class="pageTitle">Game Session Lobby</h1>
	
	Made it to the lobby!!!11

	<div class="playerPanel panel">
		Name: <input type="text" class="playerName" /><br/>
		Pin: <input type="text" class="playerPin" /><br/>
		Host: <input type="checkbox" class="playerHost" disabled /><br/>
		<button class="editPlayer">Save</button>
	</div>

	<hr/>

	<div class="invitePanel panel">
		Have other players scan this QR code to join the game.
		<div class="qrCode" id="inviteQR">
		</div>
	</div>

	
	<hr/>
	<div class="rolePanel panel">
		All players not assigned a specific role, will get a generic role assigned to them.<br/>

	{% if player.host %}
	{% for role in roles %} 
		<input type="checkbox" data-id={{ role.id }} class="roleCheckbox" /> 

		{{ role.name }}

		<br/>
	{% endfor %}
	{% endif %}
	</div>
	

	{% if player.host %}
	<hr/>
	<div class="startPanel panel">
		<button class="startSession">Assign Player Roles</button>
	</div>
	{% endif %}
{% endblock %}

{% block dataBlock %}
	{% clientMultiData games gameSessions players affiliations roles %}

{% endblock %}