{% extends "base.html" %}

{% load queryFilters %}
{% load basicFilters %}
{% load basicTags %}

{% block body_id %}Game Lobby{% endblock %}

{% block title %}Lobby{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/lobby.css{% if ZC_VERSION %}?v={{ ZC_VERSION }}{% endif %}" />
{% endblock %}

{% block jsModuleName %}lobbyController{% endblock %}

{% block scripts %}
	<script>
		var local = {{ player.id }};
		var inviteURL = "{{ inviteURL }}";
	</script>
{% endblock %}

{% block content %}
	<h1 class="pageTitle">Game Session Lobby</h1>
	
	
	<div class="lobbyPanel">
		{% with gameSessions|first as session %}
		Game: {{ session.game.name }}<br/>

		Game Rounds: 
		<span class="sessionRounds">{{ session.rounds }}</span> 
		{% if player.host %}<button class="changeRounds">Change Rounds</button> {% endif %}
		
		{% endwith %}
		<hr/>
	</div>

	<div class="selfPanel panel">
		Name: <input type="text" class="playerName" /><br/>
		Pin: <input type="text" class="playerPin" /><br/>
		Host: <input type="checkbox" class="playerHost" disabled /><br/>
		<button class="editPlayer">Save</button>
		<hr/>
	</div>

	

	<div class="invitePanel panel">
		Have other players scan this QR code to join the game.
		<div class="qrCode" id="inviteQR">
		</div>
		<hr/>
	</div>

	<div class="playerPanel panel">
	Player (<span class="playerCount">{{ players.count }}</span>)
	{% for pl in players %} 
		<li class="player" data-id="{{pl.id}}">
			<img src="/static/img/user.png" class="waiting playerIcon" />{{ pl.name }} 
		</li>
	{% endfor %}
	<hr/>
	</div>

	
	<div class="rolePanel panel">
		<div class="subpanel inactiveRoles">
			Available Roles (<span class="roleCount">{{ roles.count }}</span>)
		{% for role in roles %}
			<li class="role" data-id="{{role.id}}">
			{% if player.host %}
				<button class="removeRole">-</button>
			{% endif %}
				{{ role.name }}
			{% if player.host %}
				<button class="addRole">+</button>
			{% endif %}
			</li>
		{% endfor %}
		</div>
		<div class="subpanel activeRoles">
			Chosen Roles (<span class="roleCount">0</span>)
			
		</div>
		<hr/>
	</div>
	
	{% if player.host %}
	<div class="startPanel panel">
		<button class="startSession">Assign Player Roles</button>
	</div>
	{% endif %}
{% endblock %}

{% block dataBlock %}
	{% clientMultiData games gameSessions players affiliations roles %}

{% endblock %}