{% extends "base.html" %}

{% load queryFilters %}
{% load basicFilters %}
{% load basicTags %}

{% block body_id %}Start Game{% endblock %}

{% block title %}Start{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/start.css{% if ZC_VERSION %}?v={{ ZC_VERSION }}{% endif %}" />
{% endblock %}

{% block jsModuleName %}startController{% endblock %}

{% block content %}
	<h1 class="pageTitle">Start Game Session</h1>
	
	Game: <select>
		<option value="0" name="game">--------</option>
	{% for game in games %}
		<option value="{{ game.id }}">{{ game.name }}</option>
	{% endfor %}
	</select><br/>

	Session Name: <input type="text" name="name" /><br/>

	<button class="create hostSession">Host Session</button>

	<hr/>

	<h1>Join Game Session</h1>

	To join a game, scan the QR Code from the Host of the game. Enter a handle for the session, and a 4 digit pin code (used for reentering the game, in case your browser crashes.)

	To rejoin a game session, select the session, your handle name, and your pin code.
{% endblock %}

{% block dataBlock %}
	{% clientMultiData games %}
{% endblock %}