{% extends "base.html" %}

{% load queryFilters %}
{% load basicFilters %}
{% load basicTags %}

{% block body_id %}Start Game{% endblock %}

{% block title %}Start{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/start.css{% if HRG_VERSION %}?v={{ HRG_VERSION }}{% endif %}" />
{% endblock %}

{% block jsModuleName %}startController{% endblock %}

{% block pageTitle %}Create/Join Session{% endblock %}

{% block content %}
	Game: <select class="gameSelect">
		<option value="0">--------</option>
	{% for game in games %}
		<option value="{{ game.id }}">{{ game.name }}</option>
	{% endfor %}
	</select><br/>

	Session Name: <input type="text" class="sessionName" maxlength="32" /><br/>

	{% comment %}Handle: <input type="text" class="playerName" maxlength="32" /><br/>{% endcomment %}

	<button class="create hostSession">Host Session</button>

	<hr/>

	<h1>Join Game Session</h1>

	To join a game, scan the QR Code from the Host of the game. Enter a handle for the session, and a 4 digit pin code (used for reentering the game, in case your browser crashes.)

	<hr/>

	<h1>Rejoin Game Session</h1>

	To rejoin a game session you've accidentally disconnected from, select the session, your handle name, and your pin code.<br/>

	<button class="loadPlayer">Load ID From Device</button><br/>

	Session: <select class="sessionSelect">
	<option value="0">--------</option>
	{% for session in gameSessions %}
		<option value="{{ session.id }}">{{ session.name }}</option>
	{% endfor %}
	</select> <br/>

	Game: <input type="text" class="gameRejoin" maxlength="32" disabled /><br/>

	Handle: <input type="text" class="handleRejoin" maxlength="32" /><br/>

	Pin: <input type="text" class="pinRejoin" maxlength="32" /><br/>

	<button class="rejoinSession">Rejoin Session</button>


{% endblock %}

{% block dataBlock %}
	{% clientMultiData games gameSessions %}
{% endblock %}