{% extends "base.html" %}

{% load queryFilters %}
{% load basicFilters %}
{% load basicTags %}

{% block body_id %}Play Session{% endblock %}

{% block title %}Play{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/tworooms.css{% if ZC_VERSION %}?v={{ ZC_VERSION }}{% endif %}" />
{% endblock %}

{% block jsModuleName %}tworoomsController{% endblock %}

{% block scripts %}
	<script>
		var local = {{ player.id }};
	</script>
{% endblock %}

{% block content %}
	<h1>It's game time hoooooo!!!11</h1>

	<hr/>
	<div class="startPanel panel">
		Round #<span class="currentRound">0</span>
		Time Remaining: <span class="timeRemaining">0</span> seconds
	</div>
	
	<hr/>
	<div class="rolePanel panel">
		Starting Room: #{{ player.room }} <br/>
		Your Affiliation is: {{ affiliation }} <br/>
		Your Role is: {{ role.name }} <br/>
		Rules text: {{ role.text }}
	</div>
	
	<hr/>
	<div class="rulesPanel panel">
		Basic Rules:
		<li>Stay in your Room.
		<li>No communication between Rooms (including Sign Language Jennifer)
		<li>Keep your card. No swapping unless a power tells you to.
		<li>Must show entire card with less than 10 Players</li>

		Leader Rules:
		<li>The leader of the room is public information.</li>
		<li>Leader selects hostages to be traded between rooms at the end of each round</li>

		<li>First leader needs to appointed by another player. Cannot appoint yourself</li>
		<li>To do this point at someone and say, "I appoint you leader"</li>

		Changing leaders
		<li>Leader abdicates and chooses a willing replacement. An abicated leader can't be given leadership in this manner the same round he abdicated</li>
		<li>Usurp leader - Any player may raise one hand up in the air, and point to who you want as a leader. If a majority of the room point to the same player, that players becomes the new leader. Note: You may point to yourself.</li>

		End of Round
		<li>Leader informs room of who will be the hostages for the round. Can't choose self.</li>
		<li>(Reference the hostage chart to see how many hostages need to be selected for each round)</li>
		<li>Both leaders parley in between the two rooms WITHOUT hostages</li>
		<li>Exchange hostages, call hostages to join leaders in between rooms</li>
		<li>Start Timer - Whoever has access starts the timer in the app. (Skip if it's the last round)</li>
		<li>Players return to their room as the next round as started</li>


	</div>


	<hr/>
	<div class="glossary panel">
		<li>Backup - Character that assumes powers of another character, if that character is not in play.
		<li>Buried - A card out of play. 
		<li>Cleansed - Lose all conditions. Characters are cleansed to begin games, and when roles are swapped.
		<li>Condition - An affliction that may effect gameplay.
		<li>Hostage - Player(s) that the Leader chooses to change rooms after each round. 
		<li>Leader - Nominated player of a room who chooses hostages after each round.</li>

		Reveal - Player shows their card to other players, without expecting a reveal back
		<li>Private - Just one player</li>
		<li>Public - Show to multiple players</li>
		<li>Card - Show your entire card</li>
		<li>Color - Show just your color</li>
		Share - Two players show each other their card. 
		<li>Card - Temporarily exchange cards to learn the information</li>
		<li>Color - Show just your color (10+ Players only)</li>

		<li>Swap - Exchange character cards with another player (through a Power)</li>
	</div>


	{% if player.host %}
	<hr/>
	<div class="startPanel panel">
		<button class="startRound">Start Round Timer</button>
	</div>
	{% endif %}
{% endblock %}

{% block dataBlock %}
	{% clientMultiData game gameSession player affiliation role %}

{% endblock %}